REPEAT=10
MONGODB_URL=mongodb://localhost:27017/pg1_go_test
PORT=3000
JOB_LIMIT=10
WAIT_TIME=5
GIN_MODE=release
ASYNC_LOOP=20
SESSION_SECRET=LongEnoughSecretKeyTooAvoidBruteForce
SUPER_ADMIN=LongEnoughSecretKeyTooAvoidBruteForce
CORS=https://yusufrahmatullah.github.io/,http://yusufrahmatullah.github.io/
JOB_RANK=SingleAccountJob;MultiAccountJob;AccountFromPostJob;MediaFromPostJob;BanAccountJob;SingleUpdaterJob;UpdateStatusJob;PostExtractorJob;SearchNameJob;UpdaterJob
