<head>
  <title>
    {{if eq ginMode "debug" }}
      [dev] - 
    {{end}}
    {{if .}}
      {{.}} | 
    {{end}}
    Igo-lang
  </title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/static/main.css" />
  <link rel="icon" type="image/png" href="/static/favicon.ico" />
  <!-- minicss.org -->
  <link rel="stylesheet" href="/static/mini-default.min.css">
</head>
