<!DOCTYPE html>
<html>
    {{template "header.tmpl.html" "Igo Profiles"}}
<body onload="reset();">
    <h1 class="center">IGO Medias</h1>
    <div class="container">
        <div class="center">
            <input id="search" placeholder="Search IG ID here..." oninput="initSearch();" style="position: absoulte;"/>
        </div>
        <div id="sorter">
            <label for="sort-by">Sort By</label>
            <select id="sort-by" onchange="initSearch();">
                <option value="_id" selected>ID</option>
                <option value="ig_id">IG ID</option>
                <option value="created_at">Created At</option>
                <option value="modified_at">Modified At</option>
                <option value="ig_id">IG ID</option>
            </select>
            <label for="order">Order</label>
            <select id="order-by" onchange="initSearch();">
                <option value="1">Ascending</option>
                <option value="-1" selected>Descending</option>
            </select>
            <label for="filter-status">Status</label>
            <select id="filter-status" onchange="initSearch();">
                <option value="" selected>All</option>
                <option value="shown">Shown</option>
                <option value="hidden">Hidden</option>
            </select>
        </div>
        <div id ="card-container" class="row">
        </div>
        <div class="center">
            <div id="not-found" class="card warning double-padded" style="margin: 0 auto; visibility: hidden;">Ig Profiles not found</div>
        </div>
        <div class="center">
            <div class="spinner primary"></div>
        </div>
    </div>
    <script>
        var offset = 0;
        var urlLocks = [];
        
        window.onscroll = function(ev) {
            if ((window.innerHeight + window.pageYOffset) >= document.body.offsetHeight) {
                search();
            }
        };

        function initSearch() {
            offset = 0;
            document.getElementById('card-container').innerHTML = '';
            urlLocks.length = 0;  // reset locks
            search();
        }

        function search() {
            var query = document.getElementById('search').value;
            var sortBy = document.getElementById('sort-by').value;
            var order = document.getElementById('order-by').value;
            var filterStatus = document.getElementById('filter-status').value;
            var url = '/api/igmedias/all?offset='+offset+'&ig_id='+query+'&sort='+sortBy+'&order='+order+'&filterStatus='+filterStatus;
            if (urlLocks.includes(url)) {
                return
            }
            urlLocks.push(url);
            spinner(true);
            fetch(url, {
                credentials: 'same-origin'
            })
            .then(res => res.json())
            .then(json => {
                var currentQuery = document.getElementById('search').value;
                if (currentQuery !== json.data.ig_id) {
                    return
                }
                spinner(false);
                if (json.status === 'OK') {
                    if (offset == 0 && json.data.medias == null) {
                        notFound(true);
                    } else {
                        notFound(false);
                        appendCards(json.data.medias);
                        offset += json.data.medias.length;
                    }
                    urlLocks.length = 0;
                } else if (json.status === 'error'){
                    notFound(true);
                }
            })
        }

        function reset() {
            offset = 0;
            document.getElementById('search').value = '';
            initSearch();
        }

        function notFound(v) {
            var n = document.getElementById('not-found');
            if (v) {
                n.style.visibility = 'visible';
            } else {
                n.style.visibility = 'hidden';
            }
        }

        function spinner(b) {
            var n = document.querySelector('.spinner');
            n.style.visibility = b ? 'visible' : 'hidden';
        }

        function doAction(btn, action) {
            var id = btn.getAttribute('data-id');
            var data = {
                id: id,
                action: action,
            };
            fetch('/api/igmedias/action', {
                method: 'POST',
                body: JSON.stringify(data),
                credentials: 'same-origin',
                headers: {
                    'Content-Type': 'application/json',
                }
            })
            .then(res => res.json())
            .then(json => {
                if (json.status === 'OK') {
                    toggleAction(id, action);
                } else {
                    alert(json.message);
                }
            })
            .catch(err => console.error(err))
        }

        function toggleAction(nid, act) {
            var bg = document.getElementById('btnGroup-'+nid);
            var status = 'shown';
            if (act == 'hide') {
                status = 'hidden';
            }
            bg.innerHTML = generateButtonsText(status, nid);
        }

        function generateButtonsText(status, id) {
            var actDis = '';
            var actCls = 'primary';
            var banDis = '';
            var banCls = 'secondary';
            if (status == 'shown') {
                actCls = 'hidden';
                actDis = 'disabled';
            } else if (status == 'hidden') {
                banCls = 'hidden';
                banDis = 'disabled';
            }
            return `
                <button class="`+actCls+`" data-id="`+id+`" onclick="doAction(this, 'show');" `+actDis+`>Show</button>
                <button class="`+banCls+`" data-id="`+id+`" onclick="doAction(this, 'hide');" `+banDis+`>Hide</button>`
        }

        function appendCards(cards) {
            var cc = document.getElementById('card-container');
            cards.forEach(card => {                
                var col = document.createElement('div');
                col.setAttribute('class', 'col-sm-4 col-md-3')
                col.innerHTML = `
                <div class="card">
                    <img src="`+card.url+`" style="height:100%" onerror='if (this.src != "/static/default.png") this.src = "/static/default.png";'/>
                    <div class="section dark center">
                        <a href="`+'https://www.instagram.com/'+card.ig_id+`" target="_blank">@`+card.ig_id+`</a>
                    </div>
                    <div class="section center">Status: `+card.status+`</div>
                    <div class="section button-group" id="btnGroup-`+card.id+`">
                        `+generateButtonsText(card.status, card.id)+`
                    </div>
                </div>`;
                cc.appendChild(col);
            });
        }
    </script>
</body>
</html>