<!DOCTYPE html>
<html>
    {{template "_head.tmpl.html" "Igo Medias"}}
<body onload="reset();">
        <h1 id="subtitle" class="center">IGO Medias</h1>
    <div class="container">
        <header class="sticky center">
            <input id="search" placeholder="Search IG ID here..." oninput="initSearch();" style="position: absoulte;"/>
            <label for="sort-by">Sort By</label>
            <select id="sort-by" onchange="initSearch();">
                <option value="_id" selected>ID</option>
                <option value="ig_id">IG ID</option>
                <option value="created_at">Created At</option>
                <option value="modified_at">Modified At</option>
                <option value="ig_id">IG ID</option>
            </select>
            <label for="order">Order</label>
            <select id="order-by" onchange="initSearch();">
                <option value="1">Ascending</option>
                <option value="-1" selected>Descending</option>
            </select>
            <label for="filter-status">Status</label>
            <select id="filter-status" onchange="initSearch();">
                <option value="" selected>All</option>
                <option value="shown">Shown</option>
                <option value="hidden">Hidden</option>
            </select>
        </header>

        <div id ="card-container" class="row">
        </div>
        <div class="center">
            <div id="not-found" class="card warning double-padded" style="margin: 0 auto; visibility: hidden;">Ig Profiles not found</div>
        </div>
        <div class="center">
            <div class="spinner primary"></div>
        </div>
    </div>
    <script type="text/javascript" src="/static/js/main.js"></script>
    <script type="text/javascript" src="/static/js/ig_page.js" page="igmedias" subtitle="Medias" search="/all" count="/count_all"></script>
    <script type="text/javascript" src="/static/js/admin_igmedia.js"></script>
</body>
</html>