<!DOCTYPE html>
<html>
    {{template "_head.tmpl.html" .title}}
<body onload="reset();">
    <h1 id="subtitle" class="center">{{.title}}</h1>
    <div class="container">
        {{template "_igpage_header.tmpl.html" .}}
        <div id ="card-container" class="row">
        </div>
        <div class="center">
            <div id="not-found" class="card warning double-padded" style="margin: 0 auto; visibility: hidden;">Ig Profiles not found</div>
        </div>
        <div class="center">
            <div class="spinner primary"></div>
        </div>
    </div>
    <script type="text/javascript" src="/static/js/main.js"></script>
    {{if .admin}}
    <script type="text/javascript" src="/static/js/ig_page.js" page="{{.script.page}}" subtitle="{{.script.subtitle}}" search="{{.script.admin_search}}" count="{{.script.admin_count}}"></script>\
    <script type="text/javascript" src="/static/js/admin_ig_page.js"></script>
    <script type="text/javascript" src="/static/js/admin_{{.script.name}}.js"></script>
    {{else}}
    <script type="text/javascript" src="/static/js/ig_page.js" page="{{.script.page}}" subtitle="{{.script.subtitle}}" search="{{.script.search}}" count="{{.script.count}}"></script>
    <script type="text/javascript" src="/static/js/{{.script.name}}.js"></script>
    {{end}}
</body>
</html>