<!DOCTYPE html>
<html>
    {{template "header.tmpl.html"}}
<body onload="reset();">
    <h1 class="center">IGO Profiles</h1>
    <div class="container">
        <div id ="card-container" class="row">
        </div>
        </div>
        <div id="not-found" class="card warning" style="visibility: hidden;">Ig Profiles not found</div>
        <div class="center">
            <div class="spinner primary"></div>
        </div>
    </div>
    <script>
        var offset = 0;
        var lock = false;
        
        window.onscroll = function(ev) {
            if ((window.innerHeight + window.pageYOffset) >= document.body.offsetHeight) {
                loadData();
            }
        };

        function reset() {
            offset = 0;
            loadData();
        }

        function notFound(v) {
            var n = document.getElementById('not-found');
            if (v) {
                n.style.visibility = 'visible';
            } else {
                n.style.visibility = 'hidden';
            }
        }

        function spinner(b) {
            lock = b;
            var n = document.querySelector('.spinner');
            n.style.visibility = b ? 'visible' : 'hidden';
        }

        function loadData() {
            if (lock) {
                return
            }
            spinner(true);
            fetch('/api/igprofiles?offset='+offset, {
                credentials: 'same-origin'
            })
            .then(res => res.json())
            .then(json => {
                spinner(false);
                if (json.status === 'OK') {
                    appendCards(json.data);
                    if (json.data.length === 0) {
                        notFound(true);
                    } else {
                        notFound(false);
                    }
                    offset += json.data.length;
                } else if (json.status === 'error'){
                    notFound(true);
                }
            })
        }

        function appendCards(cards) {
            var cc = document.getElementById('card-container');
            cards.forEach(card => {
                var col = document.createElement('div');
                col.setAttribute('class', 'col-sm-4 col-md-3')
                var c = document.createElement('div');
                c.setAttribute('class', 'card');
                var i = document.createElement('img');
                i.setAttribute('src', card.pp_url);
                i.setAttribute('style', 'height:100%;');
                var tt = document.createElement('div');
                tt.setAttribute('class', 'section double-padded center')
                tt.innerHTML = cards.name;
                var a = document.createElement('a');
                a.setAttribute('href', 'https://www.instagram.com/'+card.ig_id);
                a.setAttribute('target', '_blank')
                var at = document.createElement('div');
                at.setAttribute('class', 'section dark center')
                at.innerHTML = '@'+card.ig_id;
                a.appendChild(at);
                c.appendChild(i);
                c.appendChild(tt);
                c.appendChild(a);
                col.appendChild(c);
                cc.appendChild(col);
            });
        }
    </script>
</body>
</html>