<!DOCTYPE html>
<html>
    {{template "header.tmpl.html"}}
<body>
    <h1 class="center">IG Profiles</h1>
    <div class="container">
        {{if .Profiles}}
        <div class="row"></div>
            {{range .Profiles}}
            <div class="col-md-3">
                <div class="card">
                    <img src="{{.PpURL}}" class="section media" style="height:100%;"/>
                    <div class="section double-padded center">{{.Name}}</div>
                    <a href="https://www.instagram.com/{{.IGID}}" target="_blank">
                        <div class="section dark center">@{{.IGID}}</div>
                    </a>
                    <!-- Hide temporary -->
                    <!-- <div class="section">
                        Followers: {{.Followers | humInt}}<br />
                        Following: {{.Following | humInt}}<br />
                        Posts: {{.Posts | humInt}}
                    </div> -->
                </div>
            </div>
            {{end}}
        </div>
        <div class="center">
            {{if .HasPrev}}
            <a href="./igprofiles?page={{.Page | decrease}}">Prev</a>
            {{end}}
            Pages: {{.Page}}
            {{if .HasNext}}
            <a href="./igprofiles?page={{.Page | increase}}">Next</a>
            {{end}}
        </div>
        </div>    
        {{else}}
            <div class="card warning">Ig Profiles not found</div>
        {{end}}
    </div>    
</body>
</html>