<!DOCTYPE html>
<html>
  {{template "header.tmpl.html"}}
<body onload="loadAvaJobs();">
    <center>
        <label for="jobName">Job Name: </label>
        <select name="jobName" id="jobName">
        </select>
        <br />
        <label for="igId">IG ID: </label>
        <input type="text" id="igId" name="igId">
        <br/>
        <button type="submit" onclick="post();">Post Job</button>
    </center>
<script>
    function loadAvaJobs() {
        var selectNode = document.querySelector("#jobName");
        fetch('/api/available_jobs', {
            method: 'GET',
            credentials: 'same-origin'
        }).then(resp => resp.json())
        .then(json => {
            var data = json.data;
            data.forEach(el => {
                var opt = document.createElement("option");
                opt.setAttribute("value", el.name);
                opt.innerHTML = el.name;
                selectNode.append(opt)
            });
        })
    }

    function post() {
        var jobNameInput = document.querySelector("#jobName");
        var jobName = jobNameInput.value;
        var igIdInput = document.querySelector("#igId");
        var igId = igIdInput.value;
        var data = {
            "name": jobName,
            "params": {
                "ig_id": igId,
            }
        }
        fetch('/api/job_queue', {
            method: "POST",
            body: JSON.stringify(data),
            headers: {
                "Content-Type": "application/json",
            },
            credentials: "same-origin"
        })
        .then(resp => resp.json())
        .then(json => {
            if (json.status === "OK") {
                igIdInput.value = "";
            } else if (json.status == "error") {
                alert(json.message);
            }
        })
    }
</script>
</body>
</html>
