<!DOCTYPE html>
<html>
  {{template "_head.tmpl.html" "Job Queue"}}
<body onload="loadAvaJobs(); initSearch();">
    <h1 id="subtitle" class="center">Job Queue</h1>
    <div class="container">
        <form class="center" method="POST" onsubmit="post(); return false;">
            <label for="jobName">Job Name: </label>
            <select name="jobName" id="jobName" onfocus="hideErrorMessage();" onchange="setParamsByJobs();">
            </select>
            <div class="input-group">
                <label class="hidden" id="igIdLabel" for="igId">IG ID: </label>
                <input class="hidden" type="text" id="igId" name="igId" onfocus="hideErrorMessage();">
                <label class="hidden" id="postIdLabel" for="postId">Post ID: </label>
                <input class="hidden" type="text" id="postId" name="postId" onfocus="hideErrorMessage();">
            </div>
            <input type="submit" value="Post Job">
        </form>

        <span id="error_message" class="toast popout">This is a toast message!</span>
        <div class="center">
            <input id="search" placeholder="Search params here..." onkeyup="initSearch();" style="position: absoulte;"/>
            <label for="sort-by">Sort By</label>
            <select id="sort-by" onchange="initSearch();">
                <option value="_id" selected>ID</option>
                <option value="name">Name</option>
                <option value="status">Status</option>
                <option value="reason">Reason</option>
            </select>
            <label for="order">Order</label>
            <select id="order-by" onchange="initSearch();">
                <option value="1">Ascending</option>
                <option value="-1" selected>Descending</option>
            </select>
            <label for="filter-status">Status</label>
            <select id="filter-status" onchange="initSearch();">
                <option value="postponed" selected>Postponed</option>
                <option value="active">Active</option>
                <option value="finished">Finished</option>
                <option value="">All</option>
            </select>
        </div>
        <div class="center">
            <div class="spinner primary"></div>
        </div>
        <table>            
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Params</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="job-table-body">
            </tbody>
        </table>
        <div class="center">
            <div id="not-found" class="card warning double-padded" style="margin: 0 auto; visibility: hidden;">Job Queues not found</div>
        </div>
    </div>
    <script type="text/javascript" src="/static/js/main.js"></script>
    <script type="text/javascript" src="/static/js/admin_job.js"></script>
</body>
</html>
