<!DOCTYPE html>
<html>
  {{template "_head.tmpl.html" "Job Queue"}}
<body onload="loadAvaJobs();">
    <center>
        <form method="POST" onsubmit="post(); return false;">
            <label for="jobName">Job Name: </label>
            <select name="jobName" id="jobName" onfocus="hideErrorMessage();">
            </select>
            <br />
            <label for="igId">IG ID: </label>
            <input type="text" id="igId" name="igId" onfocus="hideErrorMessage();" required>
            <br/>
            <input type="submit" value="Post Job">
        </form>

        <span id="error_message" class="toast popout">This is a toast message!</span>
    </center>
<script>
    function errorMessage(msg) {
        var sn = document.querySelector('#error_message');
        sn.innerHTML = msg;
        sn.style.opacity = 1;
        sn.style.visibility = 'visible';
    }

    function hideErrorMessage() {
        var sn = document.querySelector('#error_message');
        sn.style.visibility = 'hidden';
        sn.style.opacity = 0;
        sn.innerHTML = '';
    }

    function loadAvaJobs() {
        var selectNode = document.querySelector("#jobName");
        fetch('/api/available_jobs', {
            method: 'GET',
            credentials: 'same-origin'
        }).then(resp => resp.json())
        .then(json => {
            var data = json.data;
            data.forEach(el => {
                var opt = document.createElement("option");
                opt.setAttribute("value", el.name);
                opt.innerHTML = el.name;
                selectNode.append(opt)
            });
        })
    }

    function post() {
        var jobNameInput = document.querySelector("#jobName");
        var jobName = jobNameInput.value;
        var igIdInput = document.querySelector("#igId");
        var igId = igIdInput.value;
        var data = {
            "name": jobName,
            "params": {
                "ig_id": igId,
            }
        }
        fetch('/api/job_queue', {
            method: "POST",
            body: JSON.stringify(data),
            headers: {
                "Content-Type": "application/json",
            },
            credentials: "same-origin"
        })
        .then(resp => resp.json())
        .then(json => {
            if (json.status == "error") {
                errorMessage(json.message);
            }
        })
        .finally(() => {
            igIdInput.value = "";
        })
    }
</script>
</body>
</html>
