<!DOCTYPE html>
<html>
    {{template "header.tmpl.html" "Postponed Jobs"}}
    <body onload="loadData();">
        <h1 class="center">Postponed JobQueue</h1>
        <div class="container">
            <div class="card-container">

            </div>
        </div>
        <script>
            function loadData() {
                fetch('/api/postponed_jobs', {
                    method: 'GET',
                    credentials: 'same-origin'
                })
                .then(res => res.json())
                .then(json => {
                    if (json.status === 'OK' && json.data) {
                        json.data.forEach(element => {
                            appendJob(element);
                        });
                    }
                })
            }

            function appendJob(data) {
                var name = data.name;
                var params = data.params;
                if (name === undefined || name === "") {
                    return
                }
                var cc = document.querySelector('.card-container');
                var cn = document.createElement('div');
                cn.setAttribute('class', 'card fluid');
                cn.setAttribute('id', data.id);
                cn.innerHTML = `
                <div class="section">`+name+`</div>
                <div class="section">`+JSON.stringify(params)+`</div>
                <div class="section">Reason: `+data.reason+`</div>
                <div class="section button-group">
                    <button class="primary" data-id="`+data.id+`" onclick="requeue(this);">
                        Requeue
                    </button>
                    <button class="secondary" data-id="`+data.id+`" onclick="deleteJob(this);">
                        Delete
                    </button>
                </div>
                `;
                cc.append(cn);
            }

            function requeue(btn) {
                var nid = btn.getAttribute('data-id');
                var data = {
                    'job_id': nid,
                };
                fetch('/api/requeue_postponed_jobs', {
                    method: 'POST',
                    body: JSON.stringify(data),
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    credentials: 'same-origin',
                })
                .then(res => {
                    var json = res.json();
                    return json;
                })
                .then(json => {
                    if (json.status === 'OK') {
                        removeElement(nid);
                    }
                })
                .catch(err => console.error(err))
            }

            function deleteJob(btn) {
                var nid = btn.getAttribute('data-id');
                fetch('/api/postponed_jobs/'+nid, {
                    method: 'DELETE',
                    credentials: 'same-origin',
                })
                .then(res => res.json())
                .then(json => {
                    if (json.status === 'OK') {
                        removeElement(nid);
                    }
                })
                .catch(err => console.error(err))
            }

            function removeElement(nid) {
                var dn = document.getElementById(nid);
                var cc = dn.parentNode.childElementCount;
                if (cc == 1) {
                    loadData();
                }
                dn.parentNode.removeChild(dn);
            }
        </script>
    </body>
</html>
